* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

:root {
  /*CORES*/
  --cor-padrao: #171a15;
  --cor-destaque: #fff609;
  --cor-titulo: #000000;
  --cor-paragrafo: #313131;
  --cor-fundo: linear-gradient(135deg, #f0f0f0 0%, #bcbcbc 40%, #8a8a8a 100%);

  /*FONTES*/
  --fonte-titulo: "Inter", sans-serif;

  /*DIMENSÕES*/
  --padding-padrao: 20px;
  --largura-max: 1200px;
}

body {
  font-family: var(--fonte-titulo);
  background: var(--cor-fundo);
  color: var(--cor-paragrafo);
  line-height: 1.6;
}

h1 {
  color: var(--cor-titulo);
  font-weight: 900;
  font-size: 64pt;
}

p {
  color: var(--cor-paragrafo);
  font-weight: 300;
  font-size: 32pt;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.top-bar {
  background-color: rgb(0, 0, 0);
  text-align: center;
  height: 40px;
}

.avisos {
  color: #f0f0f0;
  font-weight: 800;
  font-size: 10pt;
  padding: 10px;
  letter-spacing: 1px;
}

nav {
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.486);
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
}

nav ul {
  padding: 16px 24px;
  display: flex;
  gap: 32px;
}

nav ul li a {
  position: relative;
  padding: 4px 0;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0; /* linha na base do link */
  width: 0%; /* começa invisível */
  height: 2px; /* espessura da linha */
  background-color: var(--cor-destaque);
  transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}

.logo-jna {
  height: 80px;
  width: auto;
  padding: 0;
}

.logo-jna img {
  justify-content: center;
  max-height: 80px;
  height: auto;
  width: auto;
  object-fit: cover;
}

main {
  padding-top: 120px;
}

#hero {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.ciclista {
  width: 100%;
  height: auto;
  max-width: 600px;
  justify-content: center;
  align-items: center;
}