* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #313131;
  height: 100%;
  scroll-behavior: smooth;
}

img {
    max-width: 100%; /* Garante que a imagem nunca vaze do contêiner pai */
    height: auto;    /* Mantém a proporção da altura automaticamente */
}

:root {
  /CORES/
  --cor-padrao: #171a15;
  --cor-destaque: #fff609;
  --cor-titulo: #000000;
  --cor-paragrafo: #313131;
  --cor-fundo: linear-gradient(135deg, #f0f0f0 0%, #bcbcbc 40%, #8a8a8a 100%);
  --botao-comprar: linear-gradient(to right, #171A15, #7C7D6F);
  /FONTES/
  --fonte-titulo: "Inter", sans-serif;
  /DIMENSÕES/
  --padding-padrao: 20px;
  --largura-max: 1200px;
}

.top-bar {
    background-color: black;
    text-align: center;
    width: 100vh;
    height: auto;
}

.avisos {
  color: white;
  font: ;
  font-size: 0.8rem;
}

.logo-jna {
  height: 40px;
  width: auto;
  display: block;
}