* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-padrao: #171a15;
  --cor-destaque: #fff609;
  --cor-titulo: #000000;
  --cor-paragrafo: #313131;
  --cor-fundo: linear-gradient(135deg, #f0f0f0 0%, #bcbcbc 40%, #8a8a8a 100%);
  --botao-comprar: linear-gradient(to right, #171A15, #7C7D6F);
  --fonte-titulo: "Inter", sans-serif;
  --fonte-paragrafo: "Inter", sans-serif;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #2fc55481;
}

img {
    max-width: 100%; /* Garante que a imagem nunca vaze do contêiner pai */
    height: auto;    /* Mantém a proporção da altura automaticamente */
}

h1 {
  color: var(--cor-titulo);
  font-family: var(--fonte-titulo);
  font-weight: 9
  00;
  /* clamp(mínimo, ideal/fluido, máximo) */
  font-size: clamp(2rem, 8vw, 4rem);
  line-height: 1.1;
}

p {
  color: var(--cor-paragrafo);
  font-family: var(--fonte-paragrafo);
  font-weight: 400;
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

ul {
  color: white;
  list-style: none;
}

header {
  color: white;
}

.top-bar {
  background-color: black;
  text-align: center;
  width: 100%;
  height: auto;
}

.avisos {
  color: inherit;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.8rem 5%;
}

#barra-nav {
  background-color: rgb(9, 5, 49);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  
  padding: 0.8rem 5%;
  
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  display: flex;
}

.logo-jna {
  height: 40px;
  width: auto;
  display: flex;
}

.logo-jna img{
  height: 100%;
}

#itens {
  display: none;
}

#btn-menu {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
}

#btn-menu svg {
  height: 40px;
  width: 40px;
  color: white;
  transition: 0.3s;
}

#btn-menu svg:hover {
  color: var(--cor-destaque);
}

.icon-menu {
  display: block;
}

.icon-fecha-menu {
  color: white;
  display: none !important;
}